<!-- div for image and name and menu  -->
<div class=" py-5 ">
  <div class="d-flex justify-content-center ">
    <div class="img-div ">
      <div>
        <img src="/images/female.png" alt="" class="img=fluid  rounded-circle rounded-img" >
      </div>
    </div>
  </div>
    <h2 class="g-font mt-4 text-light">Sharmin Akhter</h2>
    <!-- Navbar  -->
     <nav class="navbar flex-column">
      <a class="nav-link text-light  <% if(page_name =='home'){%> active <%} %>  " href="/">home</a>
      <a class="nav-link text-light  <% if(page_name =='skill'){%> active <%} %>" href="/skill">skill</a>
      <a class="nav-link text-light  <% if(page_name =='services'){%> active <%} %>" href="/services">services</a>
      <a class="nav-link text-light  <% if(page_name =='contact'){%> active <%} %>" href="/contact">contact</a>
     </nav>

  </div>