<%- include('./common/header.ejs') %>
    <div class="container-fluid height bg-dark">
      <div class="row  ">
          <!-- SIDEBAR START  -->
          <div class="col-3 col-md-3  border-end border-danger text-center" >
            <%- include('./common/sidebar.ejs', {page_name: 'services'}) %>            
          </div>
          <!-- SIDEBAR END  -->




          <!-- MAIN CONTENT START  -->
          <div class=" col-md-9 py-5 ">            
            <!-- DESCRIPTION START  -->
             <div class="px-5 pt-5 mx-5">
              <!-- SRVICES TITLE START -->
              <div class=" mb-5 ">
                <h2 class="fw-bold section-title "> Services</h2>                
              </div>
              <!-- SRVICES TITLE END -->

              <!-- SERVICES CARD START  -->
               <div class="row mt-5 py-5">
                <div class="col-md-6 ">
                  <!-- CARD 1! START -->
                  <div class="card text-center text-light py-4 px-3" >
                    <i class="fa-solid fa-2x fa-laptop-code icon-color"></i>
                    <div class="card-body">
                      <h5 class="card-title">Web Development</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid enim atque sequi suscipit?  </p>                      
                    </div>
                  </div>
                  <!-- CARD 1! END -->
                </div>

                <div class="col-md-6">
                  <!-- CARD 2! START -->
                  <div class="card text-center text-light py-4 px-3" >
                    <i class="fa-solid fa-2x fa-mobile-screen icon-color"></i>
                    <div class="card-body ">
                      <h5 class="card-title">App Development</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid enim atque sequi suscipit?  </p>                      
                    </div>
                  </div>
                  <!-- CARD 2! END -->
                </div>
               </div>
               
               <div class="row mt-5">
                <div class="col-md-6 ">
                  <!-- CARD 1! START -->
                  <div class="card text-center text-light py-4 px-3" >
                    <i class="fa-brands fa-2x fa-flutter icon-color"></i>
                    <div class="card-body">
                      <h5 class="card-title">Flutter Development</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid enim atque sequi suscipit?  </p>                      
                    </div>
                  </div>
                  <!-- CARD 1! END -->
                </div>

                <div class="col-md-6">
                  <!-- CARD 2! START -->
                  <div class="card text-center text-light py-4 px-3" >
                    <i class="fa-solid fa-2x fa-mobile-screen icon-color"></i>
                    <div class="card-body ">
                      <h5 class="card-title">Machine Learning</h5>
                      <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid enim atque sequi suscipit?  </p>                      
                    </div>
                  </div>
                  <!-- CARD 2! END -->
                </div>
               </div>  
              <!-- SERVICES CARD END  -->            
              
              
             </div>
            <!-- DESCRIPTION END  -->
          </div>          
          <!-- MAIN CONTENT END  -->
        </div>


      </div>
      <%- include('./common/footer.ejs') %>


